<div class="col-md-12">
  <div class="weetup">
    <%= link_to("New meetup", new_weetup_path, class: "btn btn-primary pull-right") %>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <td>#</td>
        <td>城市</td>
        <td>详情</td>
        <td>组织者</td>
        <th>发表时间</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <% @weetups.each do |weetup| %>
        <tr>
          <td>#</td>
          <td><%= link_to(weetup.title, weetup_path(weetup)) %></td>
          <td><%= weetup.description %></td>
          <td><%= weetup.user.email %></td>
          <td><%= weetup.created_at.strftime("%Y/%m/%d %I:%M %p") %></td>
          <td>
              <% if current_user && current_user == weetup.user %>
              <%= link_to("编辑", edit_weetup_path(weetup), class: "btn btn-sm btn-default")%>
              <%= link_to("删除", weetup_path(weetup),    class: "btn btn-sm btn-default",
                          method: :delete, data: { confirm: " 确定删除吗？" } )%>
              <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <h2>聚会查询</h2>

  <% if current_user %>
    <p>已经登入：你的 API token 是 <code><%= current_user.authentication_token  %></code></p>
  <% else %>
    <p>尚未登入</p>
  <% end %>
</div>
